<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <title>{% block title %}Zoo Arcadia{% endblock %}</title>
</head>
<body class="bg-green-800 text-white">
    <p>DEBUG: Base bien chargée !</p>  {# Ligne de debug #}

    {% block content %}{% endblock %}
</body>
</html>
